.box {
  // display: flex;
  // align-items: center;
  font-family: "Poppins";
  // padding-bottom: 30px;
  // padding-top: 30px;
  color: #3fa5ee;
  background: linear-gradient(rgb(210, 210, 253), rgb(250, 252, 124));
  margin: 0 auto;
  .box-01 {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
  }
  .box h2 {
    padding-bottom: 12px;
  }

  .box-00001 {
    margin-bottom: 20px;
    color: white;
    font-size: 16px;
    background: var(--main);
  }
  .box-0000 {
    margin-left: 120px;
  }

  .box-btn-delete {
    width: 50px;
    align-items: flex-start;
    margin-top: 15px;
    text-align: center;
  }
  .box-delete {
    display: flex;
    align-items: flex-start;
    text-align: flex-start;
  }
  .box-0005 {
    display: flex;
    flex-direction: column;
    padding-left: 400px;
    align-items: flex-start;
  }
  .box-01 {
    padding-top: 50px;
  }
  .box-02 {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    // align-items: flex-start;
  }

  .box-03 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box-04 {
    border: 1px solid black;
    width: 120px;
    height: 140px;
  }

  .box-05 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .box-title {
    display: flex;
  }
  .box-title h3 {
    text-align: end;
  }
  .box-06 {
    align-items: flex-end;
    text-align: center;
    font-weight: 500;
    color: #3fa5ee;
  }

  .box-07 {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: #3fa5ee;
  }
  .box-07 h5 {
    font-weight: 500;
    color: #3fa5ee;
  }

  .box-08 {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
  }

  .box-009 {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
  }

  .box-09 {
    height: 25px;
    align-items: center;
    display: flex;
    text-align: center;
  }

  .box-010 {
    padding-left: 10px;
    font-size: 12px;
  }

  .box-011 {
    height: 25px;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  .box-012 {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
  }
  .box-title {
    display: flex;
  }

  .box-title02 {
    padding-left: 130px;
  }

  .box-title03 {
    padding-left: 105px;
  }

  .box-title04 {
    padding-left: 97px;
  }

  .box-title05 {
    padding-left: 158px;
  }
  .orders {
    display: flex;
    flex-direction: column;
    margin-left: 75px;
  }
}
