.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: linear-gradient(rgb(210, 210, 253), rgb(250, 252, 124));
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}
.cardText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0 15px 0;
  color: #3fa5ee;
}
.img {
  width: 320px;
  height: 320px;
  border: 1px solid gray;
}
