.products {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(rgb(210, 210, 253), rgb(250, 252, 124));
}
.ant-dropdown-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 120%;
  margin-top: 30px;
}

.logos {
  display: flex;
  flex-direction: row;
  width: 120px;
  height: 80px;
  margin-top: 250px;
}
.diapers {
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 70px;
  margin-top: 60px;
}
.dolls {
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 70px;
  margin-top: 90px;
}
