.top-images00 {
  padding-top: 50px;
  margin: 0 auto;
  background: linear-gradient(rgb(250, 252, 124), rgb(210, 210, 253));
  //  width: 1390px;
  .top-images01 {
    width: 800px;
    height: 600px;
    margin-left: 500px;
    display: flex;
    margin: 0 auto;
    background: linear-gradient(rgb(250, 252, 124), rgb(210, 210, 253));
    .top-images01 {
      width: 800px;
      height: 600px;
      margin-left: 300px;
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      text-align: center;
    }
    .top-categ000 {
      display: flex;
      flex-direction: column;
      padding-top: 50px;
    }
    .top-categ003 {
      width: 500px;
      height: 350px;
      display: flex;
      margin: 0 auto;
      align-items: center;
      border-radius: 1px black;
    }
    .top-categ002 {
      margin-left: -35px;
    }
  }
}
