.header {
  background: linear-gradient(rgb(232, 235, 89), rgb(210, 210, 253));
  display: flex;
  justify-content: space-between;

  h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 120%;
    color: #3fa5ee;
    // margin-top: 10px;
  }
  span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 120%;
    color: #3fa5ee;
  }
}
.first {
  display: flex;
  flex-direction: row;
}
.second {
  display: flex;
  flex-direction: row;
}
.delivery {
  display: flex;
  flex-direction: row;
}
.price {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
}
.login {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
}
.burger-menu {
  display: none;
}
.mb-first {
  display: none;
}
