.header {
  background: linear-gradient(rgb(232, 235, 89), rgb(210, 210, 253));
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 120%;
    color: #3fa5ee;
  }
  span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 120%;
    color: #3fa5ee;
  }
}
.first {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.second {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.delivery {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 35px;
}
.login {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
  margin-left: 820px;
}
//responsive
.md-format {
  display: none;
}
.login-mb {
  display: none;
}
