@media screen and (max-width: 358px) {
  .header {
    padding: 0 10px;
    display: flex;
    flex-direction: column;

    .first {
      display: none;
    }
    .login {
      display: none;
    }
    .burger-menu {
      display: flex;
      justify-content: flex-end;

      cursor: pointer;
    }
  }
}
