@media screen and (max-width: 415px) {
  .footer-section-container {
    background: linear-gradient(rgb(250, 252, 124), rgb(210, 210, 253));
    .footer-card {
      display: none;
    }
  }
  .mb-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .f-text-mb {
    display: flex;
    height: 150px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 90%;
    color: rgba(1, 7, 13, 0.7);
    p {
      margin: 5px 18px 5px 18px;
    }
  }
  .footer-text1-mb {
    text-align: start;
    padding-top: 20px;
    text-indent: 1%;
    color: #3fa5ee;
    font: small-caption;
  }
  .footer-mb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 110px;
  }

  .footer-003mb {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
  }
  .footer-004mb {
    color: #3fa5ee;
    margin-top: 10px;
  }
  .footer-005mb {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-005mb img {
    width: 100px;
    margin-left: 8px;
    padding-bottom: 10px;
  }
  .footer-0001mb {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-07mb {
    color: #3fa5ee;
    margin-top: 15px;
  }
  .footer-08mb {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .footer-09mb {
    border: none;
    border-radius: 5px 4px;
    margin-bottom: 10px;
  }
  .footer-010mb {
    border: none;
    border-radius: 3px 2px;
    margin-bottom: 10px;
  }
  .footer-011mb {
    border: none;
    border-radius: 5px 2px;
    margin-bottom: 10px;
  }
  .footer-012mb {
    border: none;
    border-radius: 6px 5px;
  }
  .footer-copyrightmb {
    height: 20px;
    display: flex;
    padding-top: 10px;

    text-align: center;
    color: #3fa5ee;
  }
}
