footer {
  width: 1193px;
  // width: 20em;
  // height: 706px;
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
}

.footer-section-container {
  // background: linear-gradient(329.83deg,
  // #8770FF 0%,
  // #AA9AFF 86.44%);
  background-color: lightblue;
  // icons
  .footer-icon {
    width: 1592px;
    height: 93px;
    display: flex;
    background: #e7f5f8;
    align-items: center;
    font-family: Poppins;
    align-items: center;
    text-align: center;
  }

  .footer-icon1 {
    margin-left: 425px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    opacity: 0.6;
  }

  .footer-icon2 {
    margin-left: 100px;
    opacity: 0.6;
  }

  .footer-icon3 {
    margin-left: 100px;
    opacity: 0.6;
  }
  // footer-text

  .f-text {
    height: 250px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: rgba(1, 7, 13, 0.7);
    margin: 0;
    // align-items: flex-start;
  }

  .footer-text1 {
    text-align: start;
    margin-left: 250px;
    text-indent: 1%;
    color: #ffffff;
  }

  // footer navigation
  .footer-nav {
    display: flex;
    text-align: center;
    margin-left: 230px;
    text-align: center;
    // color: #FFFFFF;
  }

  .footer-02 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    list-style: none;
    font-style: normal;
    font-size: 15px;
  }

  .footer-03 {
    color: #ffffff;
  }
  .footer-04 li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: flex-start;
    text-align: start;
    padding-bottom: 15px;
    font-weight: 10px;
    font-size: 15px;
    line-height: 22px;
  }

  .footer-07 {
    margin-top: 25px;
    font-size: 24px;
    line-height: 120%;
  }

  .footer-022 {
    display: flex;
    flex-direction: column;
    padding-left: 109px;
    list-style: none;
    font-style: normal;
    font-size: 15px;
  }

  .footer-023 {
    color: #ffffff;
  }
  .footer-024 li {
    display: flex;
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    padding-bottom: 15px;
    justify-content: space-between;
  }
  .footer-003 {
    display: flex;
    flex-direction: column;
    padding-left: 109px;
  }
  .footer-004 {
    color: #ffffff;
  }

  .footer-005 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-005 img {
    width: 150px;
    justify-content: space-between;
    padding-bottom: 15px;
  }
  .footer-0001 {
    margin-left: 109px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-0001 h3 {
    color: #ffffff;
  }
  .footer-08 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // justify-content: space-between;
  }
  .footer-003 h3 {
    color: #ffffff;
  }

  .footer-09 {
    border: none;
    border-radius: 5px 4px;
    margin-bottom: 15px;
  }
  .footer-010 {
    border: none;
    border-radius: 3px 2px;
    margin-bottom: 15px;
  }
  .footer-011 {
    border: none;
    border-radius: 5px 2px;
    margin-bottom: 15px;
  }

  .footer-012 {
    border: none;
    border-radius: 6px 5px;
  }

  .footer-copyright {
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 350px;
  }
}
